.flatpickr-calendar
    font-size 12px
    line-height 20px

.flatpickr-prev-month, .flatpickr-next-month
    svg
      width 12px

.numInputWrapper
    span
      width 12px


.flatpickr-current-month
    font-size 120%

.flatpickr-day
    background none
    border 1px solid transparent
    border-radius 140px

.flatpickr-time
  input
      font-size: 12px
